/* GERAL */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: .0625em;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    font-size: 1.001vw;
}

.greyscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s;
} 

.greyscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
} 

/* NAVEGAÇÃO */

.nav {
    background-color: #a0bed0;
    position: fixed;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 99;
}

.nav__menu {
    display: flex;
    width: 30vw;
    margin-left: 62vw;
    margin-top: 2vw;
    justify-content: flex-end;
    text-decoration: none;
}

.nav__menu li {
    list-style: none; 
    display: inline;
}

.nav__menu a {
    color: #fff;
    padding: 2rem 1.5rem;
    font-weight: bold;
    font-size: 13px;
}

.nav__menu img {
    display: none;
}

@media (max-width: 768px) {
    .sobre__titulo {
        width: 45vw;
    }
}

@media (max-width: 420px) {

    .nav {
        background-color: #fff;
    }
    .nav__menu li {
        display: none;
    }

    .nav__menu img {
        display: inline;
        width: 30px;
        height: 30px;
        margin-top: 12px;
    }

    .sobre__titulo {
        text-align: center;
    }
}

/* SECTION SOBRE*/

.sobre {
    padding-top: 15vh;
    height: 95vh;
    background-image: url("../img/foto-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.sobre__titulo {
    margin-top: 12vh;
    font-size: 7vw;
    font-family: 'Varela Round';
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .8rem;
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.7);
}

.sobre__subtitulo {
    display: flex;
    width: 35vw;
    max-width: 35vw;
    font-size: 18px;
    color: rgba(255,255,255,.5);
    margin-bottom: 3rem;
}

.sobre__btn {
    display: inline-block;
    width: 200px;
    padding: 20px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #a0bed0;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 5px;
}

.sobre__btn:hover {
    background-color: #007bff;
    transition: all 1s;
}

/* SECTION AGENCIA */

.agencia {
    display: flex;
    height: 50vh;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
}

.agencia__titulo {
    display: flex;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.agencia__conteudo {
    color: rgba(255,255,255,.5);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55vw;
    margin-left: 22.5vw;
    letter-spacing: .1vw;
}

@media (max-width: 768px) {
    .agencia {
        height: 58vh;
    }
}

@media (max-width: 420px) {
    .agencia {
        height: 80vh;
    }
}

/* SECTION DESTINOS */

